<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - KhumaloCraft Emporium</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/wwwroot/css/navbar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">KhumaloCraft</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mywork">My Work</a>
                    </li>
                </ul>
                <img src="~/wwwroot/Images/NavBar2.jpg" alt="Navbar Image" class="img-fluid navbar-image">
                <img src="~/wwwroot/Images/NavBar2.jpg" alt="Navbar Image" class="img-fluid navbar-image">
                <img src="~/wwwroot/Images/NavBar2.jpg" alt="Navbar Image" class="img-fluid navbar-image">
                <img src="~/wwwroot/Images/NavBar2.jpg" alt="Navbar Image" class="img-fluid navbar-image">
                <img src="~/wwwroot/Images/NavBar2.jpg" alt="Navbar Image" class="img-fluid navbar-image">
                <img src="~/wwwroot/Images/NavBar2.jpg" alt="Navbar Image" class="img-fluid navbar-image">
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span class="text-muted">© 2024 KhumaloCraft Emporium</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0kR4HNxpw5Pb+LVdAqJ8EN4T+XdsWR5I3f3LQsn5RlaIQqF9bWJtaq5t9qg8c4n" crossorigin="anonymous"></script>
</body>
</html>
