@{
    ViewData["Title"] = "My Work";
}

<h1>Explore KhumaloCraft's Handcrafted Products</h1>
<p>Discover our latest collection of artisanal products, each crafted with passion and creativity.</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/wwwroot/Images/ElephantBowl.jpeg" class="card-img-top" alt="Craftwork 1">
            <div class="card-body">
                <h5 class="card-title">Handcrafted Elephant Bowl</h5>
                <p class="card-text">A beautiful handcrafted elephant bowl, made in Botswana.</p>
                <p class="card-text">Price: R350.00</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/wwwroot/Images/DecorVase.jpeg" class="card-img-top" alt="Craftwork 2">
            <div class="card-body">
                <h5 class="card-title">Hand-woven decor vase</h5>
                <p class="card-text">A handwoven decor vase from Cape Town, A beautiful addition to any home</p>
                <p class="card-text">Price: R530.00</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/wwwroot/Images/SilverBowl.jpeg" class="card-img-top" alt="Craftwork 2">
            <div class="card-body">
                <h5 class="card-title">Silver Bowl</h5>
                <p class="card-text">A Sterling Silver hand bowl, Made in Russia, with love.</p>
                <p class="card-text">Price: R9 000.00</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/wwwroot/Images/ZebraDress.jpeg" class="card-img-top" alt="Craftwork 2">
            <div class="card-body">
                <h5 class="card-title">Handmade Zebra Dress</h5>
                <p class="card-text">A Handmade Zebra dress, beautifully crafted in Langa</p>
                <p class="card-text">Price: R700.00</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/wwwroot/Images/Bracelets.jpg" class="card-img-top" alt="Craftwork 2">
            <div class="card-body">
                <h5 class="card-title">Beaded Bracelets</h5>
                <p class="card-text">Authentic African Bracelets handcrafted in various differrnt styles and sizes, in the heart of Durban</p>
                <p class="card-text">Price: R100.00 Each</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="~/wwwroot/Images/Mask.jpg" class="card-img-top" alt="Craftwork 2">
            <div class="card-body">
                <h5 class="card-title">African Mask</h5>
                <p class="card-text">A Tribal African mask Handcrafted in the Eastern Cape of South Africa</p>
                <p class="card-text">Price: R1 500.00</p>
            </div>
        </div>
    </div>
</div>
