@{
    ViewBag.Title = "About Us";
}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-center mb-4">
                    <h2>About KhumaloCraft</h2>
                    <p class="lead">Discover the beauty of handcrafted products from artisans around the world.</p>
                </div>
                <p>KhumaloCraft Emporium is a global e-commerce platform dedicated to showcasing the finest handcrafted products from artisans worldwide. Our mission is to connect these talented artisans with a discerning audience who appreciate the value of artisanal craftsmanship.</p>
                <p>At KhumaloCraft, we believe in promoting sustainable practices and supporting local communities. By providing a platform for artisans to showcase their work, we aim to empower them economically and culturally.</p>
                <p>Whether you're a passionate collector of handcrafted goods or simply appreciate the beauty of unique, one-of-a-kind items, KhumaloCraft offers a curated selection of products that reflect the diversity of cultures and traditions from around the globe.</p>
                <p>Join us in celebrating the artistry and creativity of artisans worldwide. Explore our collection and discover the perfect handcrafted piece to enrich your life.</p>
            </div>
        </div>
    </div>